@model MedHelp.Models.MRIImageViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details and Visualization</h2> @Html.ActionLink("Back to List", "Index")

<div>
    <hr />
    Segmentation @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayNameFor(model => model.UploadedDate) @Html.DisplayFor(model => model.UploadedDate)
    <hr />
    <div class="papaya" data-params="params"></div>
</div>

@section scripts{
    <script type="text/javascript">
        var params = [];
        params["encodedImages"] = [];
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMRI", "MriApi", new { id = @Model.Id, httproute = "API Default" })"
        }).done(function (data) {
            window.MRI = data;
            var params = { encodedImages: ['MRI'] };
            papaya.Container.resetViewer(0, params);
        });
    </script>
}