@model IEnumerable<MedHelp.Models.MRIImageViewModel>

@{
    ViewBag.Title = "MRIs";
}

<h2>My MRIs</h2>

<p>
    @Html.ActionLink("Create New Segmentation", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FullScanName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td th scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.FullScanId != null && item.UploadedDate == null)
                    {
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                    else
                    {
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Details", new { id = item.Id })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedDate)
                </td>
                <td>
                    @if (item.FullScanId != null)
                    {
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.FullScanName).ToHtmlString(), "Details", new { id = item.FullScanId })
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
                <td>
                    @if (item.FullScanId != null && item.UploadedDate == null)
                    {
                        <text>Pending Segmentation(Please wait)</text>
                    }
                    else
                    {
                        <text>@Html.ActionLink("Download", "Download", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })</text>
                    }
                </td>
            </tr>
        }
    </table>
</div>