@model IEnumerable<MedHelp.Infrastructure.Models.MRIImageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Segmentation", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Segmentation @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </th>
        <th>
            Full MRI @Html.DisplayNameFor(model => model.MRIImage2.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadedDate)
        </td>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Details", new { id = item.FullScanId })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
